
<h1>What is Rankedin?</h1>
<h3>Ratings and reviews are huge part of our decision making proccess, we rate our doctors, lawyers, and buisiness establishments. Why
 don't we apply the same prinicples to the people in the tech community: the engineers, 
 analysts, product managers, and even c-suite execs? Meet 
 Rankedin an online platform where you  potetnials employers and current peers can view the rating and reviews of any working employeein the tech or buisneess comunnity. Think yelp but for engineers and analysts!</h3>


